<div class="results-block">
  <%= render "layouts/messages" %>
</div>

<% if @friends %>
    <div class="card card-header results-block">
      <table class="col-md-12">
        <tbody>
          <% @friends.each do |friend| %>
            <tr>
              <td><strong>Email: </strong> <%= friend.email %></td>
              <td><strong>Name: </strong> <%= friend.full_name %></td>
              <td><strong>Action: </strong><%= link_to 'View profile', user_path(friend), class: 'btn btn-xs btn-success' %></td>
              <% if current_user.can_follow_friend?(friend.first_name) %>
                <td><%= link_to 'Follow friend', friendships_path(user: current_user, friend: friend.first_name), method: :path,
                            class: 'btn btn-xs btn-success' %></td>
              <% else %>
                <td><span class="badge badge-secondary">
                  <% if current_user.first_name != friend.first_name %>
                    You are already friends
                  <% else %>
                    You can't follow yourself
                  <% end %>
                </span></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>
